MONGODB_URI="{{ mongodb_exporter_connection }}"
{% if mongodb_exporter_username | default(False) or mongodb_exporter_password | default(False) %}
HTTP_AUTH="{{ mongodb_exporter_username }}:{{ mongodb_exporter_password }}"
{% endif %}
ARGS="{{ '--collector.replicasetstatus ' if mongodb_exporter_collect_replicaset else '' }}{{ '--collector.dbstats ' if mongodb_exporter_collect_database else '' }}{{ '--collector.topmetrics ' if mongodb_exporter_collect_topmetrics else '' }}{{ '--collector.indexstats ' if mongodb_exporter_collect_indexusage else '' }}{{ '--collector.collstats ' if mongodb_exporter_collect_collection else '' }}{{ mongodb_exporter_args | join(' ') }}"
